//----------------------------------*\
// CONFIG
//----------------------------------*/

@import '_vars.scss';
@import '_fonts.scss';

//----------------------------------*\
// MIXINS
//----------------------------------*/

@import 'mixins/_fontsize.scss';

//----------------------------------*\
// GLOBALS
//----------------------------------*/

@import 'globals/_normalize.scss';
@import 'globals/_base.scss';
@import 'globals/_animations.scss';

//----------------------------------*\
// MODULES
//----------------------------------*/

@import 'modules/_icons.scss';
@import 'modules/_utilities.scss';
@import 'modules/_interactions.scss';
@import 'modules/_navigation.scss';
@import 'modules/_sections.scss';
@import 'modules/_features.scss';
@import 'modules/_typography.scss';
@import 'modules/_work.scss';
@import 'modules/_project.scss';
@import 'modules/_figures.scss';
@import 'modules/_lists.scss';

//----------------------------------*\
// PARTIALS / VIEWS
//----------------------------------*/

@import 'partials/_main.scss';
@import 'partials/_pages.scss';

//----------------------------------*\
// MEDIA
//----------------------------------*/

@import 'media/_media.scss';
@import 'media/_print.scss';

//----------------------------------*\
// VENDOR
//----------------------------------*/

@import 'vendor/_vendor.scss';
