* { box-sizing: border-box; }

::-moz-selection {
    background-color: $c-alpha;
    color: $c-white;
}
::selection {
    background-color: $c-alpha;
    color: $c-white;
}
a::-moz-selection {
    background-color: #000;
    color: $c-white;
}
a::selection {
    background-color: #000;
    color: $c-white;
}

html, body {
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeSpeed;
    -moz-osx-font-smoothing: grayscale;
}
html {
    font-size: 62.5%;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
body {
    font-family: $ff;
    background-color: $c-bg;
    color: $c-text;
    font-size: $f-size-2;
    font-weight: $fw;
    line-height: 1.7;
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    .js.no-font & {
        transition: 0.4s;
        opacity: 0;
    }
    .js.wf-inactive &,
    .js.wf-active & {
        opacity: 1;
    }
}

img {
    max-width: 100%;
}
p {
    margin: 2.4rem auto;

    &:first-child { margin-top: 0; }
    &:last-child { margin-bottom: 0; }
}
