@media screen and (max-width: 1300px) {

    .title-section {
        .splitbox & {
            font-size: 2.4rem;
        }
    }
    .tweets { padding: ($d-gutter / 2); }
    .tweet:nth-child(n) {
        padding: ($d-gutter / 2);
        margin-bottom: 0;
    }
    .splitbox {
        padding: 7vw;
        justify-content: center;
    }
    .project-social {
        max-width: 45vw;
        padding: 0 ($d-gutter / 2);
    }

}

@media screen and (max-width: 1024px) {

    .header { flex-direction: column; }
    .tweets { font-size: 1.6rem; }
    .client { width: calc(100%/4); }
    .title-section {
        font-size: $f-size-1;
        margin-bottom: 2rem;
    }
    .title-section--secondary { margin-bottom: 0; }
    .title-hero {
        font-size: 4.4vw;
        br { display: none; }
    }
    .project-intro {
        display: block;
        margin-bottom: 9rem;
    }
    .project-intro-summary {
        margin-left: 0;
        margin-bottom: 5rem;
    }
    .project-images:first-of-type { margin-bottom: 3rem; }
    .clients { padding: ($d-gutter / 2); }
    .client { margin: 1rem; }

}

@media screen and (max-width: 900px) {

    .contain {
        &:not(.contain--minute) {
            max-width: calc(#{$d-siteWidth} + #{$d-sitePadding / 2});
        }
        padding-left: ($d-gutter / 2);
        padding-right: ($d-gutter / 2);

        .contain {
            padding-left: 0;
            padding-right: 0;
        }
    }
    .section-header { margin-bottom: 6rem; }
    .tweet {
        width: 100%;
        margin-bottom: $d-gutter;
    }
    .work {
        width: $d-columns-6;
        .flexbox & {
            &:nth-child(3n) { margin-right: ($d-gutter / $d-siteWidth * 100%); }
            &:nth-child(2n) { margin-right: 0; }
        }
    }
    .features { margin-bottom: 0; }
    .feature-title {
        font-size: 2.6rem;
        margin-bottom: 0.8em;
    }
    .feature-summary { margin-top: 0; }
    .splitboxes { flex-direction: row; }
    .splitbox { width: 100%; }
    .splitbox--image {
        display: none;
        visibility: hidden;
    }

}

@media screen and (max-width: 800px) {

    .header-inner {
        padding-top: 3rem;
        padding-bottom: 3rem;
        flex-wrap: wrap;
        justify-content: center;
    }
    .page--home .header-inner {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    .section {
        .page--home &.section--hero {
            .no-flexbox &,
            .flexbox & {
                padding-top: 18rem;
                padding-bottom: 6rem;
                display: block;
                height: auto;
                background-size: 3000px;
            }
        }
    }
    .logo {
        width: 100%;
        order: 1;
        margin-bottom: 1.4rem;
    }
    .nav {
        width: 50%;
        text-align: center;
    }
    .header .nav .nav-link {
        margin-right: 2em;
        margin-left: 2em;
    }
    .nav--one {
        justify-content: flex-end;
        order: 2;
    }
    .nav--two {
        justify-content: flex-start;
        order: 3;
    }
    .nav--footer {
        width: 100%;
        .nav-link { margin: 0 2em; }
    }
    .page--home .section--hero .btn-group { margin-bottom: 6rem; }
    .project-intro-summary,
    .project-intro-details {
        float: none;
        width: auto;
    }
    .project-intro-summary { margin-bottom: 5rem; }
    .project-furthermore.u-columns {
        max-width: none;
        &.u-columns--three { columns: 2; }
    }
    .project-signoff {
        float: none;
        max-width: none;
    }
    .layout {
        max-width: none;
        width: 100%;
        float: none !important;
    }
}

@media screen and (max-width: 680px) {

    .skills {
        padding: 0 1em;
        &.u-columns { columns: 1; }
    }
    .skill { width: 100%; }
    .taglist { padding-left: 1em; }
    .btn-group {
        // width: 60vw;
        // height: 60vw;
        padding-left: 0;
        padding-right: 0;
    }
    .splitboxes { margin: 4rem 0 0; }
    .section {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    .section--sub .section-header,
    .section-header {
        margin-bottom: 4rem;
    }
    .section--hero .btn--arrow {
        margin-bottom: 2rem;
    }
    .footer-inner {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
    .nav--footer {
        text-align: justify;
        padding-bottom: 1rem;
        &:after {
            content: '';
            width: 100%;
            display: inline-block;
        }
        .nav-link {
            display: inline-block;
            margin-bottom: 1em;
        }
    }
    .project-furthermore.u-columns {
        max-width: none;
        &.u-columns--two,
        &.u-columns--three { columns: 1; }
    }
    .icon--small { top: 0.4em; }
    .title-hero {
        margin-bottom: 3rem;
        font-size: 2.4rem;
        max-width: none;
    }
    .title-section {
        font-size: 2.4rem;
    }
    .feature {
        width: 100%;

    }
    .project-footer {
        padding: 8rem 0;
        .inner {
            padding-bottom: 0;
            flex-direction: column;
        }
        .btn--arrow {
            order: 2;
            margin: 1rem 0;
            transform: translateX(10px);
        }
        .btn--arrow--left {
            order: 3;
            transform: translateX(-10px);
        }
    }
    .project-social {
        position: initial;
        order: 1;
        margin-bottom: 6rem;
    }

}

@media screen and (max-width: 600px) {

    // .feature { width: 100%; }
    .feature-title {
        font-size: 2rem;
        margin-bottom: 0;
    }
    .feature-summary { display: none; }
    .feature-details {
        display: block;
    }
    .feature-figure {
        margin-bottom: 1rem;
    }
    .work-title,
    .work-summary {
        .feature-details & {
            // font-size: $f-size-3;
        }
    }
    .works { justify-content: space-around; }
    .work {
        width: 100%;
        margin-bottom: 5rem !important;
        .flexbox & {
            &:nth-child(n) { margin-right: 0; }
        }
    }
    .work-details { padding: 0; }

}


@media screen and (max-width: 480px) {

    .project-intro-summary,
    body { font-size: $f-size-3; }
    .tweet { padding: $d-gutter; }
    .tweet-body { font-size: 1.8rem; }
    .contain--footer,
    .contain--header {
        padding-left: 2%;
        padding-right: 2%;
    }
    .nav-link { font-size: 1.4rem; }
    .header .nav .nav-link,
    .nav .nav-link {
        margin-left: 1em;
        margin-right: 1em;
    }
    .nav--footer {
        display: flex;
        flex-direction: row;
        justify-content: center;

        &:after { content: none; }
    }
    .footer br { display: none; }
    .btn-group--svgicon { margin: 0.5em auto; }
    .btn-group--svgicon .icon--block {
        width: 16vw;
        height: 16vw;
    }
    .figure--about { margin-bottom: 2.5rem; }
    .client { width: 40%; }

}


@media screen and (max-height: 1000px) {



}


/**
 * Retina.
 * Currently only set to 'double' retina, meaning, assets only have to be twice the normal size,
 * @reference http://www.brettjankord.com/2012/11/28/cross-browser-retinahigh-resolution-media-queries/
 */
@media  (-webkit-min-device-pixel-ratio: 2),
        (min--moz-min-device-pixel-ratio: 2),
        (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {

}
