.wrapper {
    background-color: $c-indigo;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header {
    .page--home & {
        background-color: transparent;
        position: absolute;
        width: 100%;
        z-index: 2;
    }
}

.header-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 4rem;
    padding-bottom: 4rem;
    flex: 1;

    .page--home & {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

    .nav {
        display: flex;
        align-self: center;
    }
}

.availability {

    .page--home & {
        position: absolute;
        bottom: 6rem;
        left: 0;
        right: 0;
    }

    a {
        color: $c-white;
        border-bottom-color: transparent;
        &:hover {
            border-bottom-color: currentColor;
        }
    }
}

.logo {
    align-self: center;
    transition: 0.8s;
    position: relative;
    transform: translateY(8px);

    .inner {
        margin: auto;
        width: 130px;
        max-width: 130px;
    }

    a { display: block; }

    svg {
        transition: 0.3s ease;
        fill: $c-charlie;

        g, rect { pointer-events: none; }

        .page--home & { fill: $c-bravo; }
        &:hover {
            fill: $c-alpha;
            .page--home & { fill: $c-white; }
        }

    }

}

.footer {
    background-color: $c-alpha;
    text-align: center;
    min-height: 10px;
    color: $c-bravo;
    font-size: 1.6rem;
    line-height: 1.7;
    font-weight: 500;

    &:after {
        content: "";
        height: 10px;
        display: block;
        background-size: 100% 10px;
    }

    a {
        color: $c-white;
        border-bottom-color: currentColor;

        &:hover {
            border-bottom-color: transparent;
        }
    }

}

.footer-inner {
    padding-top: 6.8rem;
    padding-bottom: 19rem;
}
