.wrapper {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    // height: 145px;
    // max-height: 145px;
    padding-top: $d-gutter;
    padding-bottom: $d-gutter;
    flex: 1;
    background: transparent url(../img/light.png) no-repeat center -85%;

    .nav {
        display: flex;
        align-self: center;
    }
}

.logo {
    max-width: 130px;
    align-self: center;
    transition: 0.8s;
    position: relative;

    a { display: block; }

}

.logo-vector {
    position: absolute;
    top: 0;
    transition: 1s $easeOutExpo transform;

    .js & {
        transform: scale(0);
    }
    .js.wf-active & {
        transform: scale(1);
    }
}

.logo-bl {
    transition: 1.4s $easeOutExpo transform, 0.2s $easeOutExpo opacity;
    animation: $a-time linear infinite miamivice-logo $a-delay alternate;
    .js & {
        transform: translateX(-20px);
    }
    .js.wf-active & {
        transform: translateX(0);
    }
}

.content {
    strong {
        color: $c-white;
    }
}

.footer {
    text-align: center;
    min-height: 10px;
    color: $c-echo;
    font-size: 1.6rem;

    &:after {
        content: "";
        height: 10px;
        display: block;
        background-image: $c-gradientFooter;
        background-size: 100% 10px;
        animation: $a-time linear infinite miamivice $a-delay alternate;
    }
}

.footer-inner {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.contain {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: calc(#{$d-siteWidth} + #{$d-gutter*2});
    padding-left: $d-gutter;
    padding-right: $d-gutter;
}

.contain--text {
    max-width: 32em;
}
.contain--narrow {
    max-width: ($d-gutter*5) + ($d-column*6);
}

.contain--features {
    max-width: ($d-gutter*9) + ($d-column*10);
}
