.wrapper {
    background-color: $c-indigo;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header {
    .page--home & {
        background-color: transparent;
        position: absolute;
        width: 100%;
        z-index: 2;
    }
}

.header-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 5.6rem;
    padding-bottom: 5.6rem;
    flex: 1;

    .page--home & {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

    .nav {
        display: flex;
        align-self: center;
    }
}

.availability {

    .page--home & {
        position: absolute;
        bottom: 6rem;
        left: 0;
        right: 0;
    }

    a {
        color: $c-white;
    }
}

.logo {
    align-self: center;
    transition: 0.8s;
    position: relative;

    .inner {
        margin: auto;
        width: 130px;
        max-width: 130px;
    }

    a { display: block; }

    svg {
        transition: 0.3s ease;
        fill: $c-charlie;

        g, rect { pointer-events: none; }

        .page--home & { fill: $c-bravo; }
        &:hover {
            fill: $c-alpha;
            .page--home & { fill: $c-white; }
        }

    }

}

.footer {
    background-color: $c-alpha;
    text-align: center;
    min-height: 10px;
    color: $c-bravo;
    font-size: 1.6rem;

    &:after {
        content: "";
        height: 10px;
        display: block;
        background-size: 100% 10px;
    }

    a {
        color: $c-white;
        border-bottom-color: transparent;

        &:hover {
            border-bottom-color: currentColor;
        }
    }

}

.footer-inner {
    padding-top: 10rem;
    padding-bottom: 15rem;
}

.contain {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: calc(#{$d-siteWidth} + #{$d-sitePadding});
    padding-left: $d-gutter;
    padding-right: $d-gutter;
}

.contain--project-info {
    max-width: calc(#{($d-column * 10) + ($d-gutter * 9)} + #{$d-sitePadding});
}
.contain--header,
.contain--social {
    max-width: ($d-column * 9) + ($d-gutter * 8);
}

.contain--text {
    max-width: ($d-column * 7) + ($d-gutter * 6);
}
.contain--narrow {
    max-width: ($d-column * 6) + ($d-gutter * 7);
}
.contain--features {
    max-width: $d-features;
}
.contain--clients {
    max-width: calc(#{($d-column * 10) + ($d-gutter * 10)} + #{$d-sitePadding});
}
