// About page
.clients {
    list-style-type: none;
    padding: 0;
    background-color: $c-white;
    padding: 7rem 9rem;
}
.client {
    margin: 1rem 2rem;
    width: calc(100%/5);
    max-width: 200px;
}

// Contact details for the Contact & Home pages
.contact-email {}
.contact-phone {}

.contact-email,
.contact-phone {

    .page--home & {
        color: $c-alpha;
        font-size: $f-size-1;
        font-weight: 500;

        a {
            border-bottom-color: transparent;
            &:hover {
                border-bottom-color: currentColor;
            }
        }
    }
}

.contact-description {
    line-height: 1.3;
}
