// About page
.clients {
    list-style-type: none;
    padding: 0;
}
.client {
    margin: 20px;
    width: calc(100%/5);
    max-width: 200px;
}

// Contact page
.contact-email {}
.contact-phone {}
