.btn-group {
    text-align: center;
    margin: 1em auto;

    .btn {
        margin: 0 0.5em;
    }
}

.btn-group--svgicon {
    position: relative;
    height: 240px;
    width: 240px;

    max-width: 240px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .icon svg,
    .section-title--alpha {
        transition: 0.15s ease;
    }

    .icon svg {
        transform: translateY(0px);
    }
    .icon-label {
        transform: translateY(4px);
    }

    .section-title {
        margin-top: 0.4em;
        margin-bottom: 0;
    }

    a,
    a:hover {
        border-bottom-color: transparent;
    }

    &:hover {
        .icon svg {
            fill: $c-bravo;
        }
        .section-title--alpha,
        .icon-label {
            color: $c-bravo;
        }

        .icon svg,
        .icon-label {
            transition: 0.8s 0s $easeOutExpo;
        }

        .icon svg {
            transform: translateY(-16px);
        }

        .icon-label {
            transform: translateY(-6px);
        }

        .icon-label {
            opacity: 1;
        }

        .svg-ants {
            stroke-dasharray: $antSize-svg;
            stroke: $c-alpha;

            html:not(.is-safari) & {
                animation:
                    ants-svg
                    $marchSpeed
                    steps($marchLunges)
                    infinite;
            }
        }

        .animate-clockwise {
            animation-name: ants-svg-clockwise;
        }
    }

}

.btn-group--svgicon-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.btn {
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: $c-alpha;
    border: 3px solid $c-alpha;
    display: inline-block;
    padding: 0.9em 4em;
    min-width: 220px;
    text-align: center;
    background: transparent;
    position: relative;
    z-index: 1;
    transition:
        0.15s 0.0s ease;

    &:hover {
        border-color: transparent;
        color: $c-foxtrot;
        .btn-ants {
            opacity: 1;
        }
    }
}

.btn--primary {
    color: $c-white;
    border-color: $c-bravo;
    background-color: $c-bravo;

    &:hover,
    &:focus {
        background-color: transparent;
        color: $c-bravo;
    }
}

.btn--arrow {
    fill: none;
    padding: 23px 16px 24px 8px;
    width: 213px;
    height: 73px;
    border: none;
    stroke: $c-alpha;
    color: $c-bravo;

    svg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        height: 100%;
        width: 100%;
    }

    &:after {
        content: none;
    }

    &:hover {
        color: $c-bravo;
        svg {

            stroke-dasharray: $antSize-svg-arrow;
            stroke: $c-alpha;

            html:not(.is-safari) & {
                animation:
                    ants-svg-arrow-clockwise
                    $marchSpeed
                    steps($marchLunges)
                    infinite;
            }
        }
    }

    .section--hero & {
        min-width: 0;
        stroke: $c-white;
        color: $c-white;

    }
    .section--hero &:hover {
        svg {
            stroke: $c-white;
        }
    }

}

.btn--arrow--left {
    padding: 24px 10px 24px 20px;

    svg {
        transform: rotate(180deg);
    }
    &:hover svg {
        animation-name: ants-svg-arrow;
    }
}

.btn-ants {
    transition: 0.15s 0.0s ease;
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    opacity: 0;
}

.ant {
    position: absolute;

    &.ant--left { left: 0; }
    &.ant--right { right: 0; }
    &.ant--top { top: 0; }
    &.ant--bottom { bottom: 0; }

    &.ant--top,
    &.ant--bottom {
        left: 0;
        width: 100%;
        height: 3px;
        animation: ants-horizontal $marchSpeed linear infinite;
        background-image: $grad-secondary-h;
        background-size: $antSize-css $antSize-css;
        .btn--primary & {
            background-image: $grad-primary-h;
        }
    }
    &.ant--left,
    &.ant--right {
        top: 0;
        height: 100%;
        width: 3px;
        animation: ants-vertical $marchSpeed linear infinite;
        background-image: $grad-secondary-v;
        background-size: $antSize-css $antSize-css;
        .btn--primary & {
            background-image: $grad-primary-v;
        }
    }

}

.svg-ants {
    width: 100%;
    fill: transparent;
    transition: 0.2s ease stroke, 0s ease stroke-dasharray;
    stroke-dasharray: none;
    stroke: $c-alpha;

    &.svg-ants--circle,
    &.svg-ants--square {
    }

}
