.contain {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: calc(#{$d-siteWidth} + #{$d-sitePadding});
    padding-left: $d-gutter;
    padding-right: $d-gutter;

    .flexbox .page--home .section--hero & {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

.contain--project-info {
    max-width: calc(#{($d-column * 10) + ($d-gutter * 9)} + #{$d-sitePadding});
}
.contain--header,
.contain--social,
.contain--about {
    max-width: ($d-column * 9) + ($d-gutter * 8);
}

.contain--footer {

}

.contain--social {
    margin-top: 10rem;
}
.contain--text {
    max-width: ($d-column * 7) + ($d-gutter * 6);
}
.contain--narrow {
    max-width: ($d-column * 6) + ($d-gutter * 7);
}
.contain--minute {
    max-width: ($d-column * 5) + ($d-gutter * 6);
}
