.features {
    margin: 6rem 0 0;
    padding: 0;
    list-style-type: none;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.feature {
    margin-bottom: $d-gutter;
    width: $d-columns-6;
}

.feature-figure {
    position: relative;

    img {
        display: block;
    }

    a {
        &:after {
            content: none;
        }
        display: block;
        height: 100%;
        width: 100%;
    }
}

.feature-title {
    font-size: $f-size-1;
    font-weight: 400;
    margin: 0 0 3rem;
    line-height: 1.2;
}

.feature-summary {
    font-size: inherit;
    line-height: 1;
}

.feature-details {
    display: none;
}
