.figure {
    margin: 0 0 6em;
}
.figure--alt {
    margin-bottom: 3em;
}

.figure--about {
    display: inline-block;
    margin-bottom: -4em;
    padding-bottom: 0;
    width: auto;
}

.figure-caption {
    margin: 0.8em 0;
    font-style: italic;
    font-size: 1.6rem;
    padding: 0 1em;

    .figure--alt & {
        text-align: left;
        padding: 0;
        color: $c-echo;
        margin-top: 0.2em;
    }
}
.figure-description {}

.figure-description--above,
.figure-description--below {
    clear: both;
    margin-bottom: 7em;
}
