.figure {
    margin: 0 0 3em;

    img {
        display: block;
    }
}
.figure--alt {
    margin-bottom: 3em;
}

.figure--about {
    display: inline-block;
    margin-bottom: -6rem;
    width: auto;
}

.figure-caption {
    text-align: left;
    margin: 0.8em 0;
    font-size: 1.6rem;
    color: $c-charlie;

    .figure--alt & {
        text-align: left;
        padding: 0;
        color: $c-echo;
        margin-top: 0.2em;
    }
}
