.figure {
    margin: 0 0 3em;
    max-width: 100%;

    img {
        display: block;
    }

    .splitbox--image &,
    // The last group of images removes the bottom margin
    // when next to the footer
    .project-images:last-of-type &:last-of-type {
        margin-bottom: 0;
    }
}
.figure--alt {
    margin-bottom: 3em;
}

.figure--about {
    display: inline-block;
    margin-bottom: 5rem;
    width: auto;
}

.figure--svg {
    width: 100%;

}

.figure-caption {
    text-align: left;
    margin: 0.8em 0;
    font-size: $f-size-3;
    color: $c-alpha;

    .figure--alt & {
        text-align: left;
        padding: 0;
        color: $c-echo;
        margin-top: 0.2em;
    }

    a {
        border-bottom: $d-link-thickness solid currentColor;
        &:hover {
            border-bottom-color: transparent;
        }
    }
}

.js-layzr {
    opacity: 0;
    transition: 0.2s 0s;

    &.is-loaded {
        opacity: 1 !important;
    }
}
