.icon {
    width: 32px;
    height: 32px;
    margin: auto;
    display: inline-block;

    svg {
        fill: $c-alpha;
    }
}

.icon--light {
    fill: $c-white;
}

.icon--bravo {
    svg {
        fill: $c-bravo;
    }
}

.icon--small {
    width: 24px;
    height: 24px;
    margin-right: 0.2em;
    position: relative;
    top: 0.3em;
}

.icon--large {
    width: 52px;
    height: 52px;
}

.icon--block {
    display: block;
    margin-bottom: 1em;

    .btn-group--svgicon & {
        margin: 0;
        display: inline-block;

        & + a {
            margin-top: 4px;
        }
    }

}

.icon-label {
    text-transform: uppercase;
    font-size: 1.5rem;
}

.icon-label--social {
    font-weight: 600;
    text-align: center;
    width: 100%;

    opacity: 0;
    transition: 0.3s 0s $easeOutExpo;
}
