a {
    color: $c-alpha;
    text-decoration: none;
    transition:
        0.2s ease border-color,
        0.2s ease border-color;
    border-bottom: 1px solid transparent;

    figure & {
        border: none;
    }
}
a:hover {
    border-bottom-color: currentcolor;
}
a:active {}
a:focus {}

.nav {}

.nav--pages {}
.nav--external { text-align: right; }
.nav--footer {
    padding: 1rem 0 5rem;
}

.nav-link {
    font-size: 1.6rem;
    font-weight: 700;
    border: none;
    text-transform: uppercase;
    color: $c-charlie;
    position: relative;

    &.is-active {
        color: $c-alpha;
        .page--home & {
            color: $c-white;
        }
    }

    .page--home & {
        color: $c-bravo;
    }

    $space: 80px;
    .nav--pages & {
        margin-right: $space;
        &:last-child { margin-right: 0; }
    }
    .nav--external & {
        margin-left: $space;
        &:first-child { margin-left: 0; }
    }

    $space: 50px;
    .nav--footer & {
        margin: 0 $space;
        color: $c-bravo;
        backface-visibility: hidden;

        &:after {
            bottom: -4px;
        }

        &:hover {
            color: $c-white;
        }
    }
}
