.project {
    text-align: left;
}

.project-intro {
    margin-bottom: 3em;
    overflow: hidden;
}

.project-intro-summary {
    font-size: 2rem;
    float: left;
    width: $d-columns-7;
}
.project-intro-details {
    font-size: 1.6rem;
    float: right;
    width: $d-columns-4;
}

.project-images {
    margin: 4em;
}

.project-furthermore {
    margin-bottom: 6em;

    h2, h3, h4, h5 {
        margin-top: 2em;
        display: block;
        column-span: all;

        & + p {
            margin-top: 0;
        }
    }

    p {
        // -webkit-column-break-inside: avoid;
        //           page-break-inside: avoid;
        //                break-inside: avoid;
    }

    &.u-columns-one {
        max-width: $d-columns-4;
    }
    &.u-columns-two {
        max-width: $d-columns-8;
    }
    &.u-columns-three {

    }

}

.project-footer {
    clear: both;
}

.project-footer {
    font-size: 1.6rem;
}

.project-signoff {
    float: left;
    margin-bottom: 4em;
    max-width: $d-columns-7;
}
.project-social {
    float: right;
}

$gutter-gap: ($d-gutter/2);

.layout--half {
    float: left;
    $width: $d-columns-6;
    max-width: calc(#{$width} - #{$gutter-gap});
    & + .layout--half {
        float: right;
        & + .layout--half:nth-of-type(2n+1) {
        // & + *:nth-of-type(2n+1) {
            clear: left;
            float: left;
        }
    }
}

.layout--third {
    float: left;
    $width: $d-columns-4;
    max-width: calc(#{$width} - #{$gutter-gap});
    & + .layout--twothirds {
        float: right;
        & + * {
            clear: both;
        }
    }
}

.layout--twothirds {
    float: left;
    $width: $d-columns-8;
    max-width: calc(#{$width} - #{$gutter-gap});
    & + .layout--third {
        float: right;
        & + * {
            clear: both;
        }
    }
}
