.project {
    text-align: left;
    // padding-bottom: 13rem;
}

.project-intro {
    margin-bottom: 16rem;

    display: flex;
    justify-content: space-around;
}

.project-intro-details {
    font-size: $f-size-3;
    line-height: 1.8;
    flex: 1;
    order: 1;
}
.project-intro-summary {
    font-size: inherit;
    flex: 1;
    order: 2;
    margin-left: $d-gutter;
}

.project-images {
    margin: 0 auto 0; //16rem;
    overflow: hidden;

    &:first-of-type {
        margin-bottom: 6rem;
    }

    // progressive enhancement
    .flexbox & {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.project-footer {
    clear: both;
    padding: 16rem 0;

    .inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.project-social {
    text-align: center;
    display: flex;
    align-items: center;
}
