.project {
    text-align: left;
}

.project-intro {
    margin-bottom: 3em;
    overflow: hidden;
}

.project-intro-summary {
    font-size: 2rem;
    float: left;
    width: ( ($d-column * 7) + ($d-gutter * 6) ) / $d-siteWidth * 100%;
}
.project-intro-details {
    font-size: 1.6rem;
    float: right;
    width: ( ($d-column * 4) + ($d-gutter * 3) ) / $d-siteWidth * 100%;
}

.project-images {
    margin: 5em;
}
.project-image {
    margin: 0 0 5em;

    .layout--half &,
    .layout--third &,
    .layout--twothirds & {
        margin-bottom: 0;
    }
}
.project-figure-description {}
.project-footer {
    clear: both;
}

.project-footer {
    font-size: 1.6rem;
    // display: flex;
    // justtify-content: space-around;
    // flex-direction: row;
}

.project-signoff {
    float: left;
}
.project-social {
    float: right;
}

$gutter-gap: ($d-gutter/2);

.layout--half {
    float: left;
    $width: (($d-gutter*5) + ($d-column*6)) / $d-siteWidth * 100%;
    max-width: calc(#{$width} - #{$gutter-gap});
    & + .layout--half {
        float: right;
        & + .layout--half:nth-of-type(2n+1) {
        // & + *:nth-of-type(2n+1) {
            clear: left;
            float: left;
        }
    }
}

.layout--third {
    float: left;
    $width: (($d-gutter*3) + ($d-column*4)) / $d-siteWidth * 100%;
    max-width: calc(#{$width} - #{$gutter-gap});
    & + .layout--twothirds {
        float: right;
        & + * {
            clear: both;
        }
    }
}

.layout--twothirds {
    float: left;
    $width: (($d-gutter*7) + ($d-column*8)) / $d-siteWidth * 100%;
    max-width: calc(#{$width} - #{$gutter-gap});
    & + .layout--third {
        float: right;
        & + * {
            clear: both;
        }
    }
}
