.section {
    padding-top: 5em;
    padding-bottom: 5em;
    overflow: hidden;
}

.section--hero {
    color: $c-white;
    background-color: $c-alpha;

    .btn-group {
        margin: 4em auto;
    }
}

.section--yank {
    padding-bottom: 14rem;
    margin-bottom: -10rem;

    &.section--hero {
        margin-bottom: -17em;
        padding-bottom: 24rem;
    }
}

.section--alt {
    background-color: $c-echo;
}

.section--alt-lighter {
    background-color: lighten($c-echo, 6%);
}

.section-header {
    margin-bottom: 5em;
    padding-bottom: 0em;

    .page--project & {
        margin-bottom: 2.5em;
    }

}

.section-header--halfgap {
    margin-bottom: 2.5em;
}

.section-title {
    font-size: 1.6rem;
    color: $c-delta;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 1em;
    margin-top: 0;
}
