// .section {
//     padding-top: 8.5rem;
//     padding-bottom: 8.5rem;
//     overflow: hidden;

//     .content > &:not(.project):last-child {
//         padding-bottom: 17rem;
//     }

//     .page--contact &,
//     .page--about & {
//         padding-bottom: 14rem;
//     }
//     .page--work & {
//         padding-top: 13rem;
//     }

//     .page--project & {
//         padding-bottom: 0;
//     }

//     &.figure--about {
//         padding-bottom: 0;
//     }

// }

// .section--hero {

//     .page--home &,
//     .page--about &,
//     .page--contact & {
//         color: $c-white;
//         background-color: $c-alpha;
//     }

//     .page--home & .btn-group,
//     .page--contact & .btn-group {
//         margin: 6rem auto 9rem;
//     }

//     .page--work & {
//         padding-top: 12rem;
//     }

//     .page--home & a:not(.btn) {
//         color: $c-white;
//         border-bottom-color: $c-white;
//         &:hover {
//             border-bottom-color: transparent;
//         }
//     }
// }

.section {
    padding-top: 12rem;
    padding-bottom: 12rem;
    position: relative;

    .page--home & {
        padding-top: 29rem;
        padding-bottom: 29rem;
    }

}

.section--hero {
    background-color: $c-alpha;
    color: $c-white;
}

.section--topo {
    padding-top: 8.5rem;
    padding-bottom: 6rem;
    background-image: url(../img/topography.svg);
    background-position: 50% 50%;
    background-size: 2000px;
}

// .section--yank {
//     padding-bottom: 14rem;
//     margin-bottom: -10rem;

//     .page--contact &.section--hero,
//     .page--about &.section--hero {
//         padding-top: 12rem;
//         margin-bottom: -36rem;
//         padding-bottom: 31rem;
//     }
// }

.section--alt {
    background-color: $c-echo;
}

.section--alt-lighter {
    background-color: $c-hotel;
}

.section-header {
    margin-bottom: 8.5rem;
    padding-bottom: 0em;

    .page--work & {
        margin-bottom: 12.5rem;
    }

    .page--project & {
        margin-top: 3.5rem;
        margin-bottom: 3rem;
        padding-bottom: 3rem;
    }

}

.section-header--stroked {
    padding-bottom: 2.4em;
    margin-bottom: 2.4em;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        border-bottom: 2px solid currentcolor;
        display: block;
        margin: auto;
        max-width: $d-column;
    }
}

.section-header--halfgap {
    margin-bottom: 2.5em;
}

.section-title {
    font-size: 1.6rem;
    color: $c-delta;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 1em;
    margin-top: 0;
    text-align: center;

    .section--hero & {
        color: $c-bravo;
    }
}

.section-title--alpha {
    color: $c-alpha;
}
