.section {
    padding-top: 10rem;
    padding-bottom: 10rem;
    position: relative;

    .page--home &.section--topo {
        padding-top: 29rem;
        padding-bottom: 29rem;
    }

}

.section--hero {
    background-color: $c-alpha;
    color: $c-white;
}

.section--topo {
    padding-top: 8.5rem;
    padding-bottom: 6rem;
}

.section--alt {
    background-color: $c-echo;
}

.section--alt-lighter {
    background-color: $c-hotel;
}

.section-header {
    margin-bottom: 8rem;
    padding-bottom: 0em;

}

.section-header--stroked {
    padding-bottom: 2.4em;
    margin-bottom: 2.4em;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        border-bottom: 2px solid currentcolor;
        display: block;
        margin: auto;
        max-width: $d-column;
    }
}

.section-header--halfgap {
    margin-bottom: 2.5em;
}
