.splitboxes {
    margin: 6rem 0 0;
    padding: 0;


    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.splitbox {
    margin-bottom: $d-gutter;
    width: $d-columns-6;
    border: 8px solid $c-white;
    background-color: $c-white;
    padding: 9rem 10rem;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

}


.splitbox--image {
    padding: 9rem 17rem;
}

.splitbox--hollow {
    background-color: transparent;
}
