.splitboxes {
    margin: 6rem 0 0;
    padding: 0;


    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.splitbox {
    margin-bottom: $d-gutter;
    width: $d-columns-6;
    border: 8px solid $c-hotel;
    background-color: $c-hotel;
    padding: 7rem 10rem 9rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


.splitbox--image {
    padding: 9rem 17rem;
}

.splitbox--hollow {
    background-color: transparent;
}

.splitbox--icons {
    width: 100%;
    margin-top: 5rem;
    display: flex;

    justify-content: center;
    flex-direction: row;

    a {
        display: block;
        border: 0;

        &:hover {
            svg {
                fill: $c-alpha;
            }
        }
    }

    .icon--block {
        margin: 0;
    }
    .btn-group {
        display: block;
        margin: 0 2.5rem;
    }
}
