h1, h2, h3, h4, h5, h6 {
    font-size: 2rem;
}

p {
    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.title-hero {
    padding-top: 2.2em;
    margin: 0 auto 2.2em;
    font-size: 2.6rem;
    font-weight: 400;
    max-width: 27em;
    text-align: center;

    .page--about & {
        font-size: 3.4rem;
        padding-top: 0;
    }

}

.title-main {
    color: $c-foxtrot;
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 1.4;
    margin: auto;
    max-width: 22em;
    text-align: center;

    .page--project & {
        max-width: none;
    }

}

.title-404 {
    font-size: 12em;
    text-align: center;
    color: $c-alpha;
    font-weight: 400;
}
