h1, h2, h3, h4, h5, h6 {
    font-size: 2rem;
}

p {
    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.title-hero {
    margin: 15vh auto 10rem;
    font-size: $f-size-1;
    line-height: 1.4;
    font-weight: 400;
    max-width: 18em;
    text-align: center;

    .page--work &,
    .page--contact &,
    .page--about & {
        padding-top: 0;
    }

    a {
        color: $c-white;
    }

}

.title-section {
    font-size: $f-size-minor;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 2rem;
    margin-top: 0;
    text-align: center;
    color: $c-bravo;

    > a {
        color: inherit;
        border-bottom-color: transparent;
    }

    .splitbox & {
        color: $c-alpha;
        margin-bottom: 3rem;
    }

}

.title-section--secondary {
    color: $c-bravo; //$c-foxtrot;
    margin-bottom: 0;
}
.title-section--tertiary {
    color: $c-alpha; //$c-golf;
}
.title-section--alpha {
    color: $c-alpha;
}

.title-underline {
    height: 10px;
    display: block;
    margin: auto;
    width: 90px;
}

.title-underline--large {
    height: 12px;
}

.title-404 {
    font-size: 12em;
    text-align: center;
    color: $c-alpha;
    font-weight: 400;
}

.title--major {
    font-size: $f-size-major;
}
