h1, h2, h3, h4, h5, h6 {
    font-size: 2rem;
}

p {
    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.title-hero {
    margin: 0 auto 7rem;
    font-size: $f-size-1;
    line-height: 1.4;
    font-weight: 400;
    max-width: 21em;
    text-align: center;

    .page--work &,
    .page--contact &,
    .page--about & {
        padding-top: 0;
    }

    a {
        color: $c-white;
    }

}

.title-section {
    font-size: $f-size-1;
    font-weight: 400;
    margin-bottom: 2rem;
    margin-top: 0;
    text-align: center;
    color: $c-bravo;

    > a {
        color: inherit;
    }
}

.title-section--secondary {
    color: $c-foxtrot;
    line-height: 1;
    margin-bottom: 0;
}
.title-section--tertiary {
    color: $c-golf;
}
.title-section--alpha {
    color: $c-alpha;
}

.title-underline {
    height: 10px;
    display: block;
    margin: auto;
    width: 90px;
}

.title-404 {
    font-size: 12em;
    text-align: center;
    color: $c-alpha;
    font-weight: 400;
}
