.works {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    text-align: left;
}
.work {
    max-width: 410px;
    $width: (($d-column*4) + ($d-gutter*3)) / $d-siteWidth * 100%;
    width: $width;
    margin: 0 0 4em;
}
.work-thumb {
    margin-bottom: 1.4em;
    overflow: hidden;

    img {
        display: block;
    }

}
.work-details {
    padding: 0 1.5em;
}
.work-title,
.work-summary{
    margin: 0;
    font-size: 1.8rem;
}
.work-title {
    font-weight: 400;
    a {
        color: inherit;
    }
}
.work-summary {
    color: $c-charlie;
}
