.works {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    text-align: left;
}
.work {
    width: $d-columns-4;
    margin: 0 0 4em;
}
.work-thumb {
    margin-bottom: 1em;
    overflow: hidden;
    position: relative;

    img,
    a {
        display: block;
    }
}
.work-details {}

.work-title {
    margin: 0;
    font-size: $f-size-2;
}
.work-title {
    font-weight: 400;
    a {
        color: inherit;
    }
}

.work-thumb:hover + .work-details a,
.work-title a:hover {
    color: $c-alpha;
    border-bottom-color: $c-alpha;
}
